<div class="container">
	<div class="row">
		<div class="card col s12 lime lighten-5">
			<div class="card-content">
				<span class="card-title black-text">Game Name</span>
				<a href="#edit-game-modal"class="right waves-effect waves-light btn modal-trigger">Edit</a>
				<span class="grey-text text-darken-5">
					<p>Start: </p>
					<p>End: </p>
					<p>Capacity: </p>
				</span>	
				<p>This is where game description goes...</p>
			</div>	
			<div class="card-action">				
				<a href="#/games" class="right waves-effect waves-red btn-flat">Back</a>	
				<a href="" class="waves-effect waves-green btn-flat">Join</a>					
			</div>				
		</div>
	</div>
</div>

<div id="edit-game-modal" class="modal">
	<div class="modal-content">
		<h4>Edit Game</h4>
		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s6">
						<input id="game-title" type="text" class="validate">
						<label for="game-title">Game Name</label>
					</div>
					<div class="input-field col s6">
						<input id="game-capacity" type="number" min="0" max="100" class="validate">
						<label for="game-capacity">Game Capacity</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<textarea id="game-description" class="materialize-textarea"></textarea>
						<label for="game-description">Description</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="game-start" type="date" class="datepicker">
						<label for="game-start">Start Date</label>
					</div>
					<div class="input-field col s6">
						<input id="game-end" type="date" class="datepicker">
						<label for="game-end">End Date</label>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>	
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Create</a>
	</div>
</div>