<div class="container">
	<div class="row">
		<div class="card col s12 lime lighten-5">
			<div class="card-content">
				<span class="card-title black-text">Game Name</span>
				<span class="grey-text text-darken-5">	
					<p>Start: </p>
					<p>End: </p>
					<p>Capacity: </p>
				</span>	
				<p>This is where game description goes...</p>
			</div>	
			<div class="card-action">				
				<a href="#/games" class="right waves-effect waves-red btn-flat">Back</a>	
				<a href="" class="waves-effect waves-green btn-flat">Join</a>					
			</div>				
		</div>
	</div>
</div>

